.service-section {
  padding: 4vw 2vw;
  background-color: #f9f9f9;
  margin-bottom : 5vw;
  height : 35vw;
}

.service-title {
  font-size: 1.5vw;
  font-weight: bold;
  margin-top : 2vw;
  margin-left : 3vw;
  margin-bottom: 2vw;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16vw); /* Fixed column width */
  gap: 1vw;
  justify-content: center; /* Center-align the grid when there is extra space */
}

.service-card {
  background-color: transparent;
  /* border: 1px solid #000; */
  /* margin-top : 1vh;
  margin-bottom : 1vh; */
  border-radius: 8px;
  padding: 2vw;  
  text-align: left;
}

.service-icon {
  font-size: 1vw;
}

.service-name {
  font-size: 0.8vw;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.service-description {
  font-size: 0.7vw;
  color: #666;
  margin: 2vw 0 1vw;
  line-height: 1.5;
}

.service-link {
  font-size: 0.7vw;
  color: #000;
  text-decoration: none;
}

.service-link:hover {
  text-decoration: underline;
}
