.Contact {
  background-color: #f9f9f9;
  margin-top : 10vh;
  margin-bottom : 10vh;
  padding: 60px 20px;
  font-family: 'Arial', sans-serif;
}

.Contact .container {
  max-width: 1200px;
  margin: 0 3vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}

.contact-info {
  flex: 1;
  max-width: 400px;
}

.contact-info h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.contact-info li svg {
  margin-right: 10px;
  min-width: 18px;
  color: #555;
}

.contact-info li p {
  margin: 0;
  line-height: 1.5;
  color: #555;
}

.map {
  flex: 1;
  max-width: 500px;
}

.map img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
  }

  .contact-info, .map {
    max-width: 100%;
    margin-bottom: 30px;
  }
}